.footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.footer a {
  color: #fff;
  font-size: 23px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: rgb(43,197,138); /* twitter blue-ish on hover */
}
